/* ==================================Common styles============================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
}

.container {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {

    .container {
        max-width: 736px;
    }
}

@media only screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

/* ================================ Common styles ============================= */

/* ================================ Header  styles ============================= */

/* ================================ Mobile menu styles ============================= */
@media only screen and (max-width: 767px) {

    .menu,
    .address {
        display: none;
    }

    .page-header {
        margin: 16px 0;
    }

    .menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        fill: #2f2f37;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }

    .is-hidden {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 320px;
        max-height: 623px;
        padding-top: 72px;
        padding-right: 24px;
        padding-bottom: 40px;
        padding-left: 16px;
    }

    .mobile-clouse-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-clouse-btn:hover,
    .mobile-clouse-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #fff;
    }

    .mobile-clouse-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-mobile-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .address-mobile {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}

/* ================================ /Mobile menu styles ============================= */
.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.accent-color {
    color: #2e2f42;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-item {
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
    font-weight: 700;
    font-style: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: block;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address-item {
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf
}

.social-list-icon {
    fill: #f4f4fd;
}

@media only screen and (min-width: 768px) {
    .menu-open-btn {
        display: none;
    }

    .header-div {
        flex-direction: row;

    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        font-weight: 500;
        font-style: 16px;
        line-height: 1.5;
        padding: 24px 0;
    }

    .logo {
        margin-right: 76px;
    }

    .page-address {
        font-style: normal;
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media only screen and (min-width: 1158px) {
    .header-div {
        padding: 0 15px;
    }

    .current {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        bottom: -1px;
        color: #404bbf;
    }

    .address {
        flex-direction: row;
        gap: 40px;
    }
}

/* ================================ /Header  styles============================= */

/* ================================ HERO  styles============================= */
.div-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    max-width: 320px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg/Dark-bg-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 52px;

}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/Dark-bg-mob@2x.jpg);
    }
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 72px;
    text-align: center;
}

.button {
    display: block;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/Dark-bg-tab.jpg)
    }

    @media only screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/Dark-bg-tab@2x.jpg)
        }
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width: 1158px) {
    .hero {
        min-width: 1158px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/Dark-bg-desk.jpg);
    }


    @media only screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/Dark-bg-desk@2x.jpg)
        }
    }
}

/* ================================ /HERO  styles============================= */

/* ================================ Adventages  styles============================= */
@media only screen and (max-width: 1157px) {
    .advan-icon {
        display: none;
    }
}

.section {
    background: #fff;
    color: #434455;
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-advan {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advan-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-p {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
    .menu-advan {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .advan-title {
        text-align: left;
    }

    .menu-advan-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .menu-advan-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .advantages {
        padding: 120px 0;
    }

    .advan-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .advan-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .advantages-p {
        font-weight: 400;
    }
}

/* ================================ /Adventages  styles============================= */

/* ================================ Team  styles============================= */
.team-section {
    color: #434455;
    padding: 96px 28px;
    background-color: #f4f4fd;
}

.menu-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.foto-profil {
    background-color: #fff;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.container-profil {
    max-width: 232px;
    margin-right: auto;
    margin-left: auto;
    margin: 32px 16px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.profil {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .team-section {
        padding-right: 110px;
        padding-left: 110px;
    }

    .menu-team {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .foto-profil {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }

    .foto-profil {
        flex-basis: calc((100% - 72px) / 4);
    }

}

/* ================================ /Team  styles============================= */

/* ================================ Portfolio styles============================= */
.list-portf {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.list-portf-item:hover,
.list-portf-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-p {
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: left;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #f4f4fd;

    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portf-item:hover .text-overlay {
    transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
    .list-portf {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .list-portf-item {
        width: calc((100% - 24px)/2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (min-width: 1158px) {
    .list-portf {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .list-portf-item {
        width: calc((100% - 48px)/3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* ================================ /Portfolio  styles============================= */

/* ================================ Footer  styles============================= */

.page-footer {
    background: #2e2f42;
    color: #f4f4fd;
    padding: 96px 16px;
}

.footer-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-logo-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer-accent {
    color: #f4f4fd;
}

.logo-footer {
    margin-bottom: 16px;
    text-align: center;
}

.footer-social {
    width: 208px;
    height: 80px;
}

.social-list-footer {
    gap: 16px;
}

.footer-social-text {
    font-weight: 500;
    font-style: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: #31d0aa;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscr-text {
    text-align: center;
}

.form-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-subscribe {
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.button-subscr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
}

.button-subscr:hover,
.button-subscr:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .page-footer {
        padding: 96px 108px;
    }

    .footer-page-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .form-subscribe {
        flex-direction: row;
        gap: 24px;
    }

    .footer-logo-wrap {
        width: 264px;
    }

    .logo-footer {
        text-align: left;
    }

    .footer-social-text {
        text-align: left;
    }

    .footer-subscr-text {
        text-align: left;
    }

    .input-subscribe {
        width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .page-footer {
        padding: 100px 0;
    }

    .footer-page-container {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

/* ================================ /Footer  styles============================= */

/* ================================ Backdrop  styles============================= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn:hover,
.modal-clouse-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-clouse-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-backdrop {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.div-input-label {
    margin-bottom: 8px;
}

.input-label {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.div-send-user {
    position: relative;
}

.input-rows {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-rows:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.input-rows:focus+.send-icon {
    fill: #4d5ae5;
}

.div-textarea-label {
    margin-bottom: 16px;
}

.input-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.input-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.div-checkbox-label {
    margin-bottom: 24px;
}

.input-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-checkbox:checked+.privacy-policy .input-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;

}

.input-checkbox:focus+.privacy-policy .input-checkbox-span {
    border: 2px solid #000;
    border-radius: 4px;
}

.input-checkbox-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-checkbox-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.privacy-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 8px;
    margin-bottom: 24px;
}

.privacy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-btn {
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: auto;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .modal {
        width: 288px;
    }

    .input-rows {
        padding-left: 38px;
    }
}

/* ================================ /Backdrop  styles============================= */