body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #434455;
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;

}

/* ============ header ============ */
.page-header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: row;
}


.page-nav {
  display: flex;
  align-items: center;
}


.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.menu-hdr {
  display: flex;
  gap: 40px;
}

.menu-item {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link {
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  color: #2e2f42;

}

.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}



.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  color: #404bbf;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.menu-address {
  display: flex;
  gap: 40px;
}

.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* ============ main =========== */
.div-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/icons/people-office-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
}



.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ================================advantages=============================== */
.advantages {
  background: #fff;
  color: #434455;
  font-size: 16px;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advan-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fdd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.menu-advan {
  display: flex;
  gap: 24px;
}

.menu-advan-item {
  flex-basis: calc((100% - 3 * 24px) / 4);

}

/* ============ team ============ */
.section {
  color: #434455;
  padding: 120px 0;
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

.menu-team {
  display: flex;
  gap: 24px;
}

.foto-profil {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}


.container-profil {
  padding: 32px 0px;

}

.h-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-title {
  text-align: center;
}

.profil {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf
}

.social-list-icon {
  fill: #f4f4fd;
}


/* ============ portfolio ============ */
.list-portf {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-portf-item {

  width: calc((100% - 48px)/3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portf-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.container-portf>.h-name {
  text-align: left;
}

.portfolio-p {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: left;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #f4f4fd;

  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portf-item:hover .text-overlay {
  transform: translateY(0%);
}

/* ============ footer ============ */
.page-footer {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;

}

.footer-page-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

}

.footer-logo-text {
  width: 264px;
}

.footer-accent {
  color: #f4f4fd;
}



.logo-footer {
  margin-bottom: 16px;
}

.footer-social {
  width: 208px;
  height: 80px;
  /* margin-right: 80px; */
}

.social-list-footer {
  gap: 16px;
}

.footer-text {
  font-weight: 500;
  font-style: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}

.input-subscribe {
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.button-subscr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
}

.button-subscr:hover,
.button-subscr:focus {
  background-color: #404bbf;
}

.social-list-icon {
  margin-left: 16px;
}

/* ====================backdrop=================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn:hover,
.modal-clouse-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-clouse-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-backdrop {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 48px;
  margin-bottom: 16px;
}

.div-input-label {
  margin-bottom: 8px;
}



.input-label {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.div-send-user {
  position: relative;
}

.input-rows {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-rows:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.input-rows:focus+.send-icon {
  fill: #4d5ae5;
}

.div-textarea-label {
  margin-bottom: 16px;
}

.input-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.div-checkbox-label {
  margin-bottom: 24px;
}

.input-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-checkbox:checked+.privacy-policy .input-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-checkbox:focus+.privacy-policy .input-checkbox-span {
  border: 2px solid #000;
  border-radius: 4px;
}

.input-checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  margin-top: 8px;
}

.send-checkbox-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 8px;
  margin-bottom: 24px;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}



.send-btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: auto;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}